*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgba(74, 94, 114, 0.2);
}
body .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.work-heading{
    text-align: center;
    margin: 1rem;
}
ul li{
    margin: 1rem 0rem;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}
ul li a{
    text-decoration: none;
}
ul li img{
    width: 2.5rem;
}
.img-container img{
    margin: 0.8rem 0rem;
}


@media screen and (min-width:300px) and (max-width: 720px){
    .work-heading{
        font-size: 1.2rem;
    }
    .follow-heading{
        font-size: 1.4rem;
    }
    .img-container img{
        margin: 0.4rem 0rem;
    }
}